<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}">

  <body>

    <h2>Usuarios</h2>

    <table id="users" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Nombre completo</th>
            <th style="width: 200px;">Centro</th>
            <th>Silcon</th>
            <th>Aplicación</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${selections}">
              <td>
                  <a th:href="@{/users/__${user.id}__}" th:text="${user.nombre + ' ' + user.apellido}"/></a>
              </td>
              <td th:text="${user.centro}"/>
              <td th:text="${user.silcon}"/>
              <td th:text="${user.aplicacion}"/>
          </tr>
        </tbody>
    </table>
    
     <a class="btn btn-default" th:href="@{/users/new}">Alta usuario</a>


  </body>
</html>
